# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods (if ever used)
Pods/

# Carthage (if ever used)
Carthage/Build/
